<!-- Launches astra_img_processor -->

<launch>
	<!--arg name="video_device"  default="/dev/video0" /-->
	<arg name="show_image"  default="true" />


	<!--Image processor-->
	<node name="astra_img_processor"
		pkg="astra_img_processor"
		type="astra_img_processor"
		output="screen"
		args="1">
		<remap from="/astra_img_processor/camera_info" to="/camera/rgb/camera_info"/>
		<remap from="/astra_img_processor/image_in" to="/camera/rgb/image_raw"/>
		<remap from="/astra_img_processor/image_depth_in" to="/camera/depth/image_raw"/>
	</node>

	<!-- display in/out image -->
	<group if="$(arg show_image)">
		<node
			name="image_view_raw"
			pkg="image_view"
			type="image_view"
			respawn="false"
			output="screen">
			<remap from="image" to="camera/show"/>
			<param name="autosize" value="false" />
		</node>


	</group>

</launch>
