<launch>

<node pkg="costmap_restrictor" type="costmap_restrictor" respawn="false" name="costmap_restrictor" output="screen">
    <rosparam file="$(find turtlebot_2dnav)/param/costmap_restrictor_params.yaml" command="load"/>
</node>


<node pkg="decision_maker" type="decision" respawn="false" name="decision_maker" output="screen">
   <rosparam file="$(find turtlebot_2dnav)/param/decision_maker_params.yaml" command="load"/>
</node>

<include file="$(find astra_img_processor)/launch/astra_img_processor.launch"/>

<node pkg="poi_database" type="database" respawn="false" name="database" output="screen"/>

<node pkg="fake_laser" type="fake_laser" respawn="false" name="fake_laser" output="screen"/>

<node name="rviz" pkg="rviz" type="rviz" args="-d $(find turtlebot_2dnav)/launch/configuration.rviz" />

</launch>
