<launch>

<include file="$(find eurecat_grobotics_project)/launch/maze1.launch"/>

<node pkg="gmapping" type="slam_gmapping" respawn="false" name="slam_gmapping" output="screen">
  <param name = "delta" value="0.095"/>
  <param name = "map_update_interval" value = "4"/>
  <param name = "maxRange" value = "6"/>
  <param name = "maxUrange" value = "5.5"/>
</node>

<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
 <rosparam file="$(find turtlebot_2dnav)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
 <rosparam file="$(find turtlebot_2dnav)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
 <rosparam file="$(find turtlebot_2dnav)/param/local_costmap_params.yaml" command="load" />
 <rosparam file="$(find turtlebot_2dnav)/param/global_costmap_params.yaml" command="load" />
 <rosparam file="$(find turtlebot_2dnav)/param/dwa_local_planner_params.yaml" command="load" />
 <rosparam file="$(find turtlebot_2dnav)/param/global_planner_params.yaml" command="load" />
 <rosparam file="$(find turtlebot_2dnav)/param/move_base_params.yaml" command="load" />
 <remap from="cmd_vel" to="/cmd_vel_mux/input/navi"/>
</node>


<node pkg="explore_lite" type="explore" respawn="false" name="explore" output="screen">
  <param name="robot_base_frame" value="base_footprint"/>
  <param name="costmap_topic" value="move_base/global_costmap/costmap"/>
  <param name="costmap_updates_topic" value="move_base/global_costmap/costmap_updates"/>
  <param name="visualize" value="true"/>
  <param name="planner_frequency" value="2"/>
  <param name="progress_timeout" value="1000.0"/>
  <param name="gain_distance" value="1.0"/>
  <param name="gain_size" value="1.0"/>
  <param name="gain_angle" value="2.0"/>
  <param name="transform_tolerance" value="0.3"/>
  <param name="min_frontier_size" value="0.5"/>

</node>


</launch>
